body{background-color: #585858;
    padding: 5;}

.container 
{
    display: flex;
    margin: 0px auto;
    width: 66%;
    padding: 0px;
}

.img
{
    float: left;
    width: 200px;
    height: 200px;
    padding:0 10px 0 0;
}

.resume
{
    display: flex;
    margin: 0px auto;
    width: 67%;
    height: 50%;
    padding: 0px;
    align-items: center;
}

.keane-orange 
{
    color: orangered;
}

.keane-orange1 
{
    color:orangered;
}

.struction 
{
    color: black;
        border-bottom: 8px solid orangered;
}

.keane-orange2
{
    color: orangered;
}

.struction2
{
    color: black;
    text-decoration: line-through;
        -webkit-text-decoration-color: orangered;
        text-decoration-color:orangered;
        text-decoration-style: solid;
        text-decoration-thickness: 8px;
}

.keane-orange3
{
    color:black;
        border-bottom: 8px solid orangered;
}

.struction3
{
    color: orangered;
}

h1 {text-align: center;
color:black;
padding: 50;
font-size: 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400px;


    /*
text-decoration: line-through;
        -webkit-text-decoration-color: orangered;
        text-decoration-color: orangered;
        text-decoration-style: solid;
        text-decoration-thickness: 8px;
*/



}

h2 {color:black;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    font-style: italic;
}

h3 {color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        font-weight: 800;
        font-style: normal;
    }

h4 {color:black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
        font-weight: 800;
        font-style: normal;
    }

p {font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 5%;
    font-style: normal;
    text-align: justify;
}

/*

.list{
align-items: center;
}
nav{
    max-width: 66vw;    
    margin: 15px auto;
}

.navlink {
    width: 33.33%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    background-color:black;
}

.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;}
  
 .list li {
    float: left;}
  
 .list li a {
    display: block;
    color:whitesmoke;
    text-align: 1000px;
    padding: 14px 16px;
    text-decoration: none;}
  .list li a:hover {
    background-color:orangered;}

ul {text-align: center;}

*/

nav{
    max-width: 66vw;    
    margin: 15px auto;}

ul {text-align: center;}

  .list2
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .list2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .list2 li {
    float: left;}
  
 .list2 li a {
    display: block;
    color:whitesmoke;
    text-align: 1000px;
    text-decoration: none;}

  .list2 li a:hover {
    background-color:orangered;}

    .navlink2 {
        width: 33.33%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
        font-weight: 600;
        font-style: normal;
        margin-left: auto;
        margin-right: auto;
    }
        
    nav{
        max-width: 66vw;    
        margin: 15px auto;}
    
    ul {text-align: center;}
    
      .list
      {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      .list ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    
      .list li {
        float: left;}
      
     .list li a {
        display: block;
        color:whitesmoke;
        text-align: 1000px;
        text-decoration: none;}
    
      .list li a:hover {
        background-color:orangered;}
    
        .navlink {
            width: 33.33%;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 22px;
            font-weight: 600;
            font-style: normal;
            margin-left: auto;
            margin-right: auto;
        }
            
        hr.line {
            border-top: 4px solid orangered;
          }